/BinaryToDecimal/.vs
/BinaryToDecimal/BinaryToDecimal/bin
/BinaryToDecimal/BinaryToDecimal/obj
/DecimalToBinary/.vs
/DecimalToBinary/DecimalToBinary/bin
/DecimalToBinary/DecimalToBinary/obj
/SubnetCalculator/.vs
/SubnetCalculator/SubnetCalculator/bin
/SubnetCalculator/SubnetCalculator/obj
/SubnetCalculator/SubnetCalculator.Tests/bin
/SubnetCalculator/SubnetCalculator.Tests/obj
